doctype html
html
    head
        title= title
        link(href='/awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/awesome/css/font-awesome.css', rel='stylesheet')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="/Chart.js-master/Chart.js")
        body.bg
            block content

