//
   Created by fabiancote on 7/16/14.
extends ../layout
block content
    include ../directorHead

    .container
        ul.breadcrumb
            li: a(href="/director/profile") Inicio
            li.active Registro de Posgrado
        .row
            .margin-auto
                p.lead.text-center
                    strong Registro de Posgrado
                p.error.text-center # Error
                p.lead.text-center
                    | En el Sistema ya existe un posgrado con el nombre
                    strong.text-danger  #{nombrepost}
                    | , verifique en el sistema o intente de nuevo con un nombre de posgrado diferente.
                p.text-center
                    a(href="/director/profile").btn.btn-default Intentar de nuevo
    br