extends ../layout
block content
    include ../directorHead
    .container
        .row
            .margin-auto
                p.lead.text-center
                    strong Cambio de contraseña del director
                    br
                    span.text-primary &nbsp; #{datos.nombres} #{datos.apellidos}
                .col-lg-12
                    .panel.panel-default
                        .panel-heading
                            h5
                                i.fa.fa-unlock
                                | &nbsp; Cambio de contraseña del director
                        .panel-body
                            p.lead.text-muted Por Favor digite la nueva contraseña para el director
                            form(method="POST", action="/director/firstime").form-horizontal
                                input(type="hidden", name="_method", value="PUT")
                                input(type="hidden", name="director", value="#{user.id}")
                                fieldset
                                    .form-group
                                        label(for="inputpass", class="col-lg-2 control-label") Contraseña nueva
                                        .col-lg-10
                                            .input-group
                                                span.input-group-addon
                                                    i.fa.fa-unlock-alt
                                                input(type="password", name="pass", required).form-control
                                            p.text-muted Digite la nueva contraseña
                                    .form-group
                                    h5.text-center
                                        button(type="submit").btn.btn-primary
                                            i.fa.fa-save
                                            | &nbsp; Guardar Cambios