extends ../layout
block content
    include ../adminHead
    .container
        ul.breadcrumb
            li: a(href="/administrador/profile") Inicio
            li.active Registro de Programa
        .row
            .margin-auto
                p.lead.text-center
                    strong Registro de Programa
                p.error.text-center # Error
                p.lead.text-center
                    | En el Sistema ya existe un programa con el nombre
                    strong.text-danger  #{nombre}
                    | , verifique en el sistema o intente de nuevo con un nombre de programa diferente.
                p.text-center
                    a(href="/administrador/profile").btn.btn-default Intentar de nuevo
    br